<div class="column-categories">
  <div class="row-categories">
    <a href="#" class="card-category">
      <h3>Cursos On-line <br/> Sem Tutoria</h3>
      <img src="{{moodle_url}}/theme/ilb/assets/ilb/img/online-learning.png" alt="">
      <div class="circle"></div>
    </a>

    <a href="#" class="card-category">
        <h3>Cursos On-line <br/> Com Tutoria</h3>
        <img src="{{moodle_url}}/theme/ilb/assets/ilb/img/online-education.png" alt="">
        <div class="circle"></div>
    </a>

    <a href="#" class="card-category">
      <h3>Formação Interna</h3>
      <img src="{{moodle_url}}/theme/ilb/assets/ilb/img/online-learning.png" alt="">
      <div class="circle"></div>
    </a>
    
    <a href="#" class="card-category">
      <h3>Pós-Graduação</h3>
      <img src="{{moodle_url}}/theme/ilb/assets/ilb/img/online-learning.png" alt="">
      <div class="circle"></div>
    </a>
  </div>

  <div class="row-categories">
    <a href="#" class="card-category">
      <h3>Oficinas Interlegis</h3>
      <img src="{{moodle_url}}/theme/ilb/assets/ilb/img/online-learning.png" alt="">
      <div class="circle"></div>
    </a>

    <a href="#" class="card-category">
        <h3>Vídeoaulas</h3>
        <img src="{{moodle_url}}/theme/ilb/assets/ilb/img/videoaulas.png" alt="">
        <div class="circle"></div>
    </a>

    <a href="#" class="card-category">
      <h3>Projetos Especiais</h3>
      <img src="{{moodle_url}}/theme/ilb/assets/ilb/img/online-learning.png" alt="">
      <div class="circle"></div>
    </a>

    <a href="#" class="card-category">
      <h3>Validação de <br/> Certificados</h3>
      <img src="{{moodle_url}}/theme/ilb/assets/ilb/img/certificados.png" alt="">
      <div class="circle"></div>
    </a>
  </div>
</div>
