{{> theme_ilb/head }}

<body {{{ bodyattributes }}}>
  <!--{{{ output.main_content }}}-->
  {{> theme_ilb/header }}
  <section class="carousel-login">
    <div class="container">
      <div class="row">
        <div class="container-breadcrumbs">
            <div id="toolbar">
                <div id="portal-breadcrumbs" class="portal-breadcrumbs">
                    <ol class="Breadcrumbs">
                        <li id="breadcrumbs-you-are-here">
                            Você está aqui:
                        </li>
                        <li id="breadcrumbs-home">

                            <a href="https://www12.senado.leg.br/institucional">Página Inicial</a>

                        </li>
                        <li id="breadcrumbs-1">

                            <span id="breadcrumbs-current">Instituto Legislativo Brasileiro</span>

                        </li>
                    </ol>
                </div>
                <div id="portal-login" class="portal-login"><ins></ins><a href="logout">Sair</a></div>
            </div>
        </div>
    </div>
  </section>

  <section class="carousel-login">
    <div class="container">
      <div class="row">
        <div class="carousel">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="300000">
                <iframe src="https://www.youtube.com/embed/mvqFvkBF0PE?autoplay=1"
                  title="Novo vídeo sobre os cursos online da Plataforma Saberes" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  class="d-block w-100" width="560" height="273" allowfullscreen></iframe>
              </div>
              {{#semitem}}
              {{/semitem}}
              {{^semitem}}
                {{#itenscarrossel}}
                  {{> theme_ilb/carousel_item }}
                {{/itenscarrossel}}
              {{/semitem}}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      <div class="divider"></div>
      <div class="login">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    </div>
  </section>

  {{> theme_ilb/footer }}

  <!-- Libras -->
  <script src="{{{moodle_url}}}/theme/ilb/assets/portal_senado/js/essencial.js"></script>
  <script src="{{{moodle_url}}}/theme/ilb/assets/portal_senado/js/tema.js"></script>

  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>