{{!
    @template theme_ilb/maintenance

    ILB maintenance layout template.

    Context variables required for this template:
    * output - The core renderer for the page

    Example context (json):
    {
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         }
    }
}}
<!-- Barra de Navegação dentro do Curso -->
<style>
      .NavGlobal {
        background-color: #00305c;
        border-bottom: 4px solid #00824a;
        box-shadow: 0 4px 0 #fae042;
      }
</style>

<!-- Bootstrap CDN - CSS do Bootstrap -->

<script src="https://use.fontawesome.com/b95b184b26.js"></script>


<!-- Ícones da aba do navegador -->
<link rel="apple-touch-icon" sizes="180x180" href="{{{ output.favicon }}}">
<link rel="icon" type="image/ico" href="{{{ output.favicon }}}" sizes="32x32" />
<link rel="icon" type="image/ico" href="{{{ output.favicon }}}" sizes="192x192" />
<link rel="icon" type="image/ico" href="{{{ output.favicon }}}" sizes="96x96" />
<link rel="icon" type="image/ico" href="{{{ output.favicon }}}" sizes="16x16" />

<!-- Links para tinymce -->
<!-- <link rel="stylesheet" type="text/css" href="{{{moodle_url}}}/static/collapse-image.css" />
<link rel="stylesheet" type="text/css" href="{{{moodle_url}}}/static/sanfona.css" />
<link rel="stylesheet" type="text/css" href="{{{moodle_url}}}/static/tabs.css" /> -->

<!-- Links para tinymce -->
<link rel="stylesheet" type="text/css" href="{{{moodle_url}}}/theme/ilb/style/collapse-image.css" />
<link rel="stylesheet" type="text/css" href="{{{moodle_url}}}/theme/ilb/style/sanfona.css" />
<link rel="stylesheet" type="text/css" href="{{{moodle_url}}}/theme/ilb/style/tabs.css" />

<script type="text/javascript" src="{{{moodle_url}}}/theme/ilb/js/jquery.js" ></script>

<!-- <script type="text/javascript" src="{{{moodle_url}}}/static/collapse-image.js" ></script>
<script type="text/javascript" src="{{{moodle_url}}}/static/sanfona.js" ></script>
<script type="text/javascript" src="{{{moodle_url}}}/static/tabs.js" ></script> -->

<script type="text/javascript" src="{{{moodle_url}}}//theme/ilb/js/collapse-image.js" ></script>
<script type="text/javascript" src="{{{moodle_url}}}//theme/ilb/js/sanfona.js" ></script>
<script type="text/javascript" src="{{{moodle_url}}}//theme/ilb/js/tabs.js" ></script>


