/*########################################
  Tema
  ########################################*/
//colors
$color_tapa_approx: #777;
$color_gallery_approx: #eee;
$color_calypso_approx: #3e6892;
$color_mountain_mist_approx: #999;
$color_mine_shaft_approx: #333;
$mercury: #e5e5e5;
$color_alto_approx: #ddd;
$color_rhino_approx: #28425c;
$black: #000;
$white: white;
$web_orange: orange;

//fonts
$font_0: Lucida Grande;
$font_1: Lucida Sans Unicode;
$font_2: Lucida Sans;
$font_3: Geneva;
$font_4: Verdana;
$font_5: sans-serif;
$font_6: Helvetica Neue;
$font_7: Helvetica;
$font_8: Arial;
$font_9: arial;

//urls
$url_0: url(++theme++senado.tema/senado/img/sub-osenado.jpg);
$url_1: url(fonts/glyphicons-halflings-regular.eot);
$url_2: url(fonts/glyphicons-halflings-regular.eot?#iefix);
$url_3: url(fonts/glyphicons-halflings-regular.woff);
$url_4: url(fonts/glyphicons-halflings-regular.ttf);
$url_5: url(fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular);

body {
  font-family: $font_0, $font_1, $font_2, $font_3, $font_4, $font_5;
  line-height: 1.428;
}
#tema {
  margin: 0 auto;
}
#tema-portal {
  min-height: 400px;
}
#portal-menu {
  margin-bottom: 0;
}
#toolbar {
  overflow: auto;
  clear: right;
}
#portal-breadcrumbs {
  float: left;
}
.portal-breadcrumbs {
  display: none;
  > ol > li:last-of-type {
    color: $color_tapa_approx;
  }
}
#breadcrumbs-you-are-here {
  display: none;
  + li::before {
    display: none;
  }
}
#portal-personaltools-wrapper {
  float: right;
}
.portal-personaltools-wrapper {
  display: none;
}
.portal-login {
  display: none;
  float: right;
  font-size: 11px;
  margin-bottom: 1em;
  ins {
    margin-right: 12px;
    text-decoration: none;
    text-transform: capitalize;
  }
}
#content {
  h1.documentFirstHeading {
    border-bottom: 1px solid $color_gallery_approx;
    padding-bottom: 15px;
    font-size: 28px;
    margin-top: 10px;
    font-family: $font_6, $font_7, $font_8, $font_5;
    font-weight: normal;
    letter-spacing: 0.1px;
  }
  a.accordion-toggle {
    &:hover {
      color: $color_rhino_approx !important;
      text-decoration: none;
    }
    &:focus {
      color: $color_rhino_approx !important;
      text-decoration: none;
    }
  }
}
.PortalTopo-id {
  a {
    color: $color_calypso_approx;
    text-decoration: none;
  }
  .PortalTopo-sub a {
    color: $color_mountain_mist_approx;
    text-decoration: none;
  }
}
.Nav--secundaria {
  padding-left: 0;
  padding-right: 0;
  > ul > li:not(:last-child)::after {
    line-height: 23px;
  }
}
@media(max-width:767px) {
  .Nav--secundaria {
    background-color: transparent;
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    > ul {
      float: none !important;
      > li > a {
        font-size: 12px;
        line-height: 26px;
      }
    }
  }
  .carousel-caption {
    position: static;
  }
  .carousel-control {
    .glyphicon-chevron-left {
      top: 30%;
    }
    .glyphicon-chevron-right {
      top: 30%;
    }
    .icon-next {
      top: 30%;
    }
    .icon-prev {
      top: 30%;
    }
  }
  .PortalTopo-busca > div {
    display: inherit;
    margin: 10px 0 0;
  }
}
navbar-inverse {
  background-color: transparent;
}
#footer-institucional {
  clear: both;
  padding-top: 40px;
}
#portal-columns {
  margin-left: 0;
  margin-right: 0;
}
.accordion {
  position: relative;
  .accordion-caret {
    .accordion-toggle {
      &.collapsed::before {
        content: "▸";
      }
      &:not(.collapsed)::before {
        content: "▾";
      }
    }
    .accordion-toggle::before {
      font-size: 25px;
      margin-right: 0;
      position: absolute;
      right: 20px;
    }
  }
  .accordion-inner {
    border-top: 1px solid $mercury;
    padding: 8px 15px;
  }
  > .accordion-group {
    border: 1px solid $mercury;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 0;
    margin-bottom: 20px;
    > .accordion-heading {
      border-bottom: 1px solid $color_alto_approx;
      color: $color_calypso_approx;
      font-size: 18px;
    }
  }
}
.carousel-indicators {
  top: 10px;
  height: 10px;
}
.carousel-control {
  cursor: alias;
  //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  text-shadow: 2px 2px 0 $black;
  span {
    color: $white;
  }
  .icon-next {
    right: 19%;
    font-size: 22px;
  }
  .glyphicon-chevron-right {
    right: 19%;
    font-size: 22px;
  }
  .icon-prev {
    left: 19%;
    font-size: 22px;
  }
  .glyphicon-chevron-left {
    left: 19%;
    font-size: 22px;
  }
}
.carousel-caption {
  background-color: $black;
  bottom: 0;
  max-height: 35%;
  left: 0;
  opacity: 0.7;
  padding-left: 15px;
  padding-top: 10px;
  text-align: left;
  width: 100%;
  p {
    color: $white;
    font-size: 13px;
    line-height: 14px;
  }
}
.carousel-caption-quadro {
  background-color: $black;
  bottom: 5%;
  left: 5%;
  max-height: 90%;
  opacity: 0.7;
  padding-left: 10px;
  padding-right: 3px;
  padding-top: 10px;
  text-align: left;
  width: 24%;
}
#painel-em-manutencao {
  background: $white none repeat scroll 0 0;
  font-size: 20px;
  margin-top: 50px;
  text-align: center;
  font-family: $font_9;
  i {
    color: $web_orange;
  }
}
@media(min-width:768px) {
}
@media(min-width:992px) {
}
@media(min-width:1200px) {
}
a#portal-home-link {
}
.PortalTopo-title a img {
  width: 190px;
}
.PortalTopo-busca > div {
  display: table-cell;
  vertical-align: middle;
}
.navbar-inverse .navbar-nav {
  > li > a {
    color: $color_tapa_approx;
    &:hover {
      background-color: transparent;
      color: $color_mine_shaft_approx;
    }
    &:focus {
      background-color: transparent;
      color: $color_mine_shaft_approx;
    }
  }
  > .open > a {
    background-color: transparent;
    color: $color_mine_shaft_approx;
    &:focus {
      background-color: transparent;
      color: $color_mine_shaft_approx;
    }
    &:hover {
      background-color: transparent;
      color: $color_mine_shaft_approx;
    }
  }
}
.navbar-senado .dropdown-menu > li {
  display: block;
}
p.busca-avancada a {
  color: $color_calypso_approx;
}
.accordion-heading .accordion-toggle {
  display: block;
  padding: 8px 15px;
}
.carousel .item img {
  margin: auto;
}