#pagina-certificados {
  display: none;
}

.card-container {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  margin: 60px 0;
}

.card {
  display: flex;
  align-items: center;
}

.card-header {
  font-size: 2em;
  font-weight: 500;
  color: #3E6892;
}

.card-text {
  font-size: 1.5em;
  text-align: center;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.loginform {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input, 
.pull-right, 
.btn-certificados, 
.loginform,
.card-body {
  width: 100%;
}

.loginform input {
  background-color: #fff;
  margin-bottom: 15px;
  height: 52px;
  border-radius: 4px;
  outline: none;
  padding: 0 16px;
}

.form-control:focus {
  border-color: #424b80;
  box-shadow: 0 0 0 0.25rem rgb(66, 75, 128, 0.30);
}

.pull-right .btn-certificados, 
.card-body .btn-certificados {
  background-color: #424b80;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 150%;
  color: #f1f1f1;
  font-weight: bold;
  text-align: center;
  transition: all .6s ease;
  text-decoration: none !important;
  min-height: 50px;

}

.pull-right .btn-certificados:hover, 
.card-body .btn-certificados:hover {
  background: rgb(1,91,158, .9);
  box-shadow: 0 0 .2em #333;
  top:-2px;
  color: #f1f1f1;
  text-decoration: none !important;
}

@media(max-width: 507px) {
  .card-container {
    flex-direction: column;
  }
}
