.page-content, body .content-header {
  margin: 0 4%;
  padding: 0 2%;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Noto Sans,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.container-breadcrumbs {
  margin-bottom: 10px;
}

.content-header {
  margin-top: 1%;
  margin-bottom: 1%;
}

.portal-breadcrumbs ol{
  padding-left: 0;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title h1 { 
  margin: 0;
  font-weight: 400;
  font-size: 350%;
  letter-spacing: .5px;
  color: #3E6892;
}

.painel-estudante, .ver-mais {
  background-color: #424b80;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 150%;
  color: #f1f1f1;
  font-weight: bold;
  text-align: center;
  transition: all .6s ease;
  text-decoration: none !important;
}

.painel-estudante:hover, .ver-mais:hover {
  background: rgb(1,91,158, .9);
  box-shadow: 0 0 .2em #333;
  top:-2px;
  color: #f1f1f1;
  text-decoration: none !important;
}

.painel-estudante:link, 
.painel-estudante:visited, 
.ver-mais:link, 
.ver-mais:visited {
  color: #f1f1f1;
  text-decoration: none !important;
}

.cursos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cursos .container-destaque {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}

.cursos .container-destaque .divider {
  width: 1px;
  background: #00305C;
  margin: 0 20px;
}

.cursos-container {
  width: 80%;
}

.cursos-container h2, .validacao-certificados h2 {
  color: #00305C;
  font-size: 2rem;
}

.cursos-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.validacao-certificados {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 30px;
}

.curso-item {
  margin-top: 20px;
}

.curso-item:hover {
  box-shadow: 0 0 .3em #333;
}

.curso-image {
  max-height: 100px;
}

.qrcode-icon {
  max-height: 70px;
}

.qrcode-link img:hover {
  cursor: pointer;
}

.ver-mais {
  margin-top: 20px;
  margin-right: 220px;
  width: 150px;
  padding: 10px 0;
  color: #fff;
}

.carousel-caption {
  left: 0;
  bottom: 0;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-caption::before {
  background-color: rgba(255, 255, 255, 0.5);
  text-shadow: none;
}

.carousel-caption p{
  margin: 10px 0;
  color: #000;
  text-shadow: none;
  font-size: 2.5rem;
  padding: 0;
  text-align: start;
}

.carousel .carousel-item {
  height: 400px;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100px;
}

:not(#_) .sf-wrapper .sidebar-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  backdrop-filter: blur(3px);
  z-index: 100;
  display: none;
}

:not(#_) .sf-wrapper .is-open + .sidebar-overlay {
  display: block;
}

#categorias { display: none; }

#destaque { border-bottom: none;}

.item-categoria {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.item-categoria a {
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: #424b80;
  margin: 0;
  font-weight: bold;
  font-size: 1.5rem;
  box-shadow: 0 0 0 3px #424b80;
  transition: all .3s ease-in-out;
}

.item-categoria a:hover {
  background-color: #424b80;
  color: #fff;
}

.item-categoria a:nth-child(n+2) {
  margin-left: 20px;
}

@media(max-width: 375px) {
  .header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-title h1 { 
    font-size: 200%;
  }

  .painel-estudante, .ver-mais {
    font-size: 70%;
  }
}

@media(max-width: 507px) {
  .header-title h1 { 
    font-size: 200%;
  }

  .painel-estudante, .ver-mais {
    font-size: 100%;
    padding: 5px 15px;
  }
}

@media(max-width: 304px) {
  .header-title h1 { 
    font-size: 170%;
  }
}

@media(max-width: 280px) {
  .header-title h1 { 
    font-size: 160%;
  }
  
  .painel-estudante, .ver-mais {
    font-size: 80%;
    padding: 5px 15px;
  }
}

@media(max-width: 275px) {
  .header-title h1 { 
    font-size: 170%;
  }

  .header-title {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .header-title h1 { 
    font-size: 200%;
    text-align: center;
    margin-bottom: 15px;
  }

  .painel-estudante, .ver-mais {
    font-size: 70%;
    width: 100%;
  }
}

@media(max-width: 1060px) {
  .cursos-content {
    align-items: center;
    justify-content: center !important;
  }

  .ver-mais { margin-right: 170px; }

  .item-categoria { flex-direction: column; }
  .container-categoria { display: flex; }

  .item-categoria a:nth-child(n+2) {
    margin-top: 20px;
    margin-left: 0;
  }

  .item-categoria a { width: 100%; }

  .item-categoria:nth-child(2) { margin-left: 20px; }

  .curso-item:nth-child(n+2) { margin-left: 20px; }

  .validacao-certificados { justify-content: end; }

  .validacao-certificados h2 { 
    margin-bottom: 10px; 
  }
}

@media(max-width: 1124px) {
  .cursos-content {
    align-items: center;
    justify-content: center !important;
  }

  .curso-item:nth-child(n+2) { margin-left: 20px; }
}

@media(max-width: 828px) {
  .curso-item:nth-child(n+2) { margin-left: 0;}
}

@media(max-width: 817px) {
  .container-categoria {
    flex-direction: column;
  }

  .item-categoria:nth-child(2) {
    margin-left: 0;
  }
}

